*.ipynb_checkpoints/*
.pyc

# Temp files created when building the pages
_nbs/
_build/
/.quarto/
_site/

# Allows just notebooks inside nbs/
!nbs/**.ipynb
nbs/*.png*
nbs/*.jpg*
nbs/*.jpeg*
nbs/*.mp*
nbs/*.tif*
