repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  -  id: check-merge-conflict
  -  id: check-case-conflict
  -  id: check-yaml
  -  id: detect-private-key
  -  id: debug-statements
  -  id: requirements-txt-fixer
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.6.1
  hooks:
    - id: nbqa-pyupgrade
      args: [--py37-plus]
    - id: nbqa-isort
      args: ['--profile=black']
    - id: nbqa-black
      args: ['--nbqa-dont-skip-bad-cells', '--line-length=128']
- repo: https://github.com/fastai/nbdev/
  rev: master
  hooks:
    - id: nbdev_clean
      args: ['--fname', './']

