/*-- scss:defaults --*/
$body-bg: white;
$body-color: black;
$primary: #3980F5;
$navbar-bg: #3980F5;
$navbar-fg: white;
$sidebar-bg: #3980F5;
$sidebar-fg: white;
$link-color: #2B8CEE;


// Code blocks
$code-block-bg-alpha: -.8;

